<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ReceivableSettlementMapper">
    <insert id="insetReceivableSettlementList">
        insert into  receivable_settlement values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
             #{item.type},
                #{item.policyId},
                #{item.policyNo},
                #{item.policyType},
                #{item.endorsementId},
            #{item.endorsementNo},
             #{item.agentId},
            #{item.agentName},
            #{item.agentType},
            #{item.agentId},
            #{item.agentFeeRate},
            #{item.agentTaxRate},
            #{item.agentIsIncludeTax},
            #{item.interfaceFieldId},
            #{item.interfaceFieldName},
            #{item.excludeTaxPremium},
            )
        </foreach>
    </insert>
</mapper>
