<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ReceivableSettlementMapper">
    <insert id="insetReceivableSettlementList">
        insert into receivable_settlement
        (id,
        updated_at,
        status,
        created_scene,
        type,
        policy_type,
        policy_id,
        policy_no,
        endorsement_id,
        endorsement_no,
        bill_id,
        bill_name,
        agent_id,
        agent_name,
        agent_type,
        agent_fee_rate,
        agent_tax_rate,
        agent_is_include_tax,
        exclude_tax_premium,
        fee, fee_rate,
        fee_money,
        exclude_tax_fee,
        enabled,
        enabled_at,
        created_at,
        personnel_id,
        org_id,
        premium,
        is_include_tax,
        insurance_id,
        period_index,
        tax_rate,
        tax_money,
        settle_at,
        insured_at,
        interface_field_id,
        interface_field_name,
        include_tax_settle_money)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.updatedAt},
            #{item.status},
            #{item.createdScene},
            #{item.type},
            #{item.policyType},
            #{item.policyId},
            #{item.policyNo},
            #{item.endorsementId},
            #{item.endorsementNo},
            #{item.billId},
            #{item.billName},
            #{item.agentId},
            #{item.agentName},
            #{item.agentType},
            #{item.agentFeeRate},
            #{item.agentTaxRate},
            #{item.agentIsIncludeTax},
            #{item.excludeTaxPremium},
            #{item.fee},
            #{item.feeRate},
            #{item.feeMoney},
            #{item.excludeTaxFee},
            #{item.enabled},
            #{item.enabledAt},
            #{item.createdAt},
            #{item.personnelId},
            #{item.orgId},
            #{item.premium},
            #{item.isIncludeTax},
            #{item.insuranceId},
            #{item.periodIndex},
            #{item.taxRate},
            #{item.taxMoney},
            #{item.settleAt},
            #{item.insuredAt},
            #{item.interfaceFieldId},
            #{item.interfaceFieldName},
            #{item.includeTaxSettleMoney}
            )
        </foreach>
    </insert>
</mapper>
