<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ReceivableSettlementMapper">
    <insert id="insetReceivableSettlementList">
        insert into  receivable_settlement values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
             #{item.updatedAt},
            #{item.status},
            #{item.createdScene},
            #{item.type},
            #{item.policyId},
            #{item.policyNo},
            #{item.policyType},
            #{item.endorsementId},
            #{item.endorsementNo},
            #{item.billId},
            #{item.billName},
            #{item.agentId},
            #{item.agentName},
            #{item.agentType},
            #{item.agentFeeRate},
            #{item.agentTaxRate},
            #{item.agentIsIncludeTax},
            #{item.excludeTaxPremium},
            #{item.fee},
            #{item.feeRate},
            #{item.feeMoney},
            #{item.excludeTaxFee},
            #{item.enabled},
            #{item.enabledAt},
            #{item.createdAt},
            #{item.personnelId},
            #{item.orgId},
            #{item.premium},
            #{item.isIncludeTax},
            #{item.insuranceId},
            #{item.periodIndex},
            #{item.taxRate},
            #{item.taxMoney},
            #{item.settleAt},
            #{item.insuredAt},
            #{item.interfaceFieldId},
            #{item.interfaceFieldName},
            #{item.includeTaxSettleMoney}
            )
        </foreach>
    </insert>
</mapper>
