<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SettlementProductMapper">
    <resultMap id="settlementProduct" type="org.example.dto.SettlementProductDto">
        <result column="id" property="id"/>
        <result column="insurance_id" property="insuranceId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="org_id" property="orgId"/>
        <result column="bill_id" property="billId"/>
        <collection property="settlementAgents"
                    ofType="org.example.entity.settlement_product.ProductSettlementAgent">
            <result column="agent_id" property="id"/>
            <result column="name" property="name"/>
            <result column="type" property="type"/>
<!--            <result column="product_id" property="productId"/>-->
<!--            <result column="agent_id" property="agentId"/>-->
            <result column="rate" property="rate"/>
        </collection>
    </resultMap>
    <insert id="insertAgents">
        insert into product_to_agent
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
             #{item.id},
             #{item.productId},
             #{item.agentId},
             #{item.rate}
            )
        </foreach>
    </insert>

    <select id="findAllByInsuranceId" resultMap="settlementProduct">
        select
        p.*,
        a.id as agent_id,
        a.name,
        a.type,
        temp.rate as rate
        from finance.settlement_product p
        left join finance.product_to_agent temp
        on p.id = temp.product_id
        left join finance.settlement_agent a
        on temp.agent_id = a.id
        where p.insurance_id = #{insuranceId}
    </select>
    <select id="findList" resultMap="settlementProduct">
        select
            p.id,
            p.created_at,
            p.updated_at,
            p.insurance_id,
            p.bill_id,
            p.org_id,
            a.id as agent_id,
            a.name,
            a.type,
            temp.rate as rate
        from
            settlement_product p
        left join product_to_agent temp on p.id = temp.product_id
        left join settlement_agent a on a.id = temp.agent_id
        limit #{pageSize} offset #{page}
    </select>
</mapper>
