<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SettlementAgentInfoMapper">
    <insert id="insertList">
        insert into  settlement_agent_info (id,agent_id,fee_rate,tax_rate,is_include_tax,`from`,end,bill_id,created_at,updated_at) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.agentId},
            #{item.feeRate},
            #{item.taxRate},
            #{item.isIncludeTax},
            #{item.from},
            #{item.end},
            #{item.billId},
            #{item.createdAt},
            #{item.updatedAt}
            )
        </foreach>
    </insert>
</mapper>
