<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.PromotionItemMapper">

    <insert id="savePromotionItems">
        insert into promotion_item values
        <foreach collection="list" separator="," item="item" >
            (
             #{item.id}
            )
        </foreach>
    </insert>
</mapper>
